<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter the data</title>
</head>
<body>
<div class="center">
    <h2>Enter the data:</h2>
    <form th:action="@{/admin/deleteUser}" th:method="DELETE" th:object="${newUser}">
        <input type="hidden" th:field="*{id}" th:value="*{getId()}">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td th:text="${newUser.name}">Name</td>
            </tr>
            <tr>
                <td>Lastname:</td>
                    <td th:text="${newUser.lastName}">Lastname</td>
            </tr>
            <tr>
                <td>Username:</td>
                <td th:text="${newUser.username}">Lastname</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td th:text="${newUser.password}">Lastname</td>
            </tr>
            <tr>
                <td>Roles</td>
                <td><label>
                    <input type="checkbox" disabled th:each="role : ${roles}"
                           th:text="${role.name}"
                           th:value="${role.id}"
                           th:field="*{roles}"
                           name="roles" id="roles">
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="DELETE"></td>
            </tr>
        </table>
    </form>
    <form  th:action="@{/logout}" th:method="POST">
        <input type="submit" value="Logout"/>
    </form>
</div>
</body>
</html>