<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter the data</title>
</head>
<body>
<div class="center">
    <h2>Enter the data:</h2>
    <form th:action="@{/updateUser}" th:method="POST" th:object="${newUser}">
        <input type="hidden" th:field="*{id}" th:value="*{getId()}">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" th:field="*{name}" th:value="${newUser.name}"/>
                </label></td>
            </tr>
            <tr>
                <td>Lastname:</td>
                <td><label>
                    <input type="text" th:field="*{lastName}" th:value="${newUser.lastName}"/>
                </label></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><label>
                    <input type="text" th:field="*{userName}" th:value="${userAdd.username}"/>
                </label></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><label>
                    <input type="text" th:field="*{password}" th:value="${newUser.password}"/>
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Confirm"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>