<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Enter the data</title>
</head>
<body>
<div class="center">
    <h2>Enter the data:</h2>
    <form th:action="@{/addUser}" th:method="POST" th:object="${userAdd}">
        <table class="table">
            <tr>
                <td>Name:</td>
                <td><label>
                    <input type="text" th:field="*{name}" th:value="${userAdd.name}"/>
                </label></td>
            </tr>
            <tr>
                <td>Lastname:</td>
                <td><label>
                    <input type="text" th:field="*{lastName}" th:value="${userAdd.lastName}"/>
                </label></td>
            </tr>
            <tr>
                <td>Username:</td>
                <td><label>
                    <input type="text" th:field="*{userName}" th:value="${userAdd.userName}"/>
                </label></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><label>
                    <input type="text" th:field="*{password}" th:value="${userAdd.password}"/>
                </label></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Confirm"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>