<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All Users</title>
</head>
<body>
<div class="center">
    <h2>Users</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Lastname</th>
            <th>Username</th>
            <th>Password</th>
        </tr>
        </thead>
        <tbody>
        <th:block th:each="usr : ${all}">
            <tr>
                <td th:text="${usr.name}">Name</td>
                <td th:text="${usr.lastName}">Lastname</td>
                <td th:text="${usr.userName}">Username</td>
                <td th:text="${usr.password}">Password</td>
                <td class="tg-action">
                    <div>
                        <a class="button" th:href="@{/admin/getUserByIdForDelete(userID=${usr.id})}">Delete</a>
                    </div>
                </td>
                <td class="tg-action">
                    <div>
                        <a class="button" th:href="@{/admin/getUserById(userID=${usr.id})}">Update</a>
                    </div>
                </td>
            </tr>
        </th:block>
        </tbody>
    </table>
</div>
<input type="button" value="Add User"
       onclick="window.location.href = 'createUser'"/>
<form  th:action="@{/logout}" th:method="POST">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>